<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/png" href="https://access.redhat.com/webassets/avalon/g/favicon.ico">
    <%= stylesheet_link_tag "patternfly" %>
    <style>
      .install-title {
        min-width: 100px;
        vertical-align: middle;
        display: table-cell;
        font-weight: bold;
      }
    </style>
  </head>
  <body class="pf-m-redhat-font">
  	<div class="pf-c-page pf-m-redhat-font">
  	  <header class="pf-c-page__header">
  	  	<div class="pf-c-page__header-brand ins-c-page__header-brand--loading">
  	  	  <a class="pf-c-page__header-brand-link">
  	  	  	<%= image_tag(@resources[:approval_web_logo], :size => '150x75') %>
  	  	  </a>
  	  	</div>
  	  </header>
