<div class="pf-l-grid pf-m-gutter">
  <% {
    :orderer    => 'Ordered By',
    :product    => 'Product',
    :portfolio  => 'Portfolio',
    :order_id   => 'Ordered ID',
    :order_date => 'Ordered Date',
    :order_time => 'Ordered Time'
  }.each do |key, title| %>
    <div class="pf-l-grid__item">

      <div class="pf-l-split pf-m-gutter">
        <div class="pf-l-split__item install-title">
          <%= title %>
        </div>
        <div class="pf-l-split__item pf-m-fill">
          <%= @order[key] %>
        </div>
      </div>
    </div>
  <% end %>
</div>
