<% {
  :orderer    => 'Ordered By',
  :product    => 'Product',
  :portfolio  => 'Portfolio',
  :order_id   => 'Ordered ID',
  :order_date => 'Ordered Date',
  :order_time => 'Ordered Time'
}.each do |key, title| %>
  <div class="pf-l-grid">
    <div class="pf-l-grid__item pf-m-12-col-on-xs pf-m-3-col-on-sm pf-m-2-col-on-lg pf-m-2-col-on-xl install-title">
      <%= title %>
    </div>
    <div class="pf-m-fill pf-l-grid__item pf-m-12-col-on-xs pf-m-9-col-on-sm pf-m-10-col-on-lg pf-m-10-col-on-xl">
      <%= @order[key] %>
    </div>
  </div>
<% end %>
